{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StopGame</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@1.0.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
    <link rel="stylesheet" media="all" href="{% static 'css/degradado.css'%}">  
    <link rel="stylesheet" type="text/css" href="{% static 'css/ranking.css'%}">
    <link rel="stylesheet" href="{% static 'css/selecciones.css'%}">
</head>

<body>
<button id="gamemode" class="ui-btn" type="button" data-bs-toggle="modal" data-bs-target="#Gamemode"></button>

    <section class="is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4" style="margin-top:40px;">
                    <h3 class="title" style="color: #ffffff;">¿¡ Quien jugara hoy !?</h3>
                    <hr style="border-bottom: 3px solid rgb(255, 255, 255);">
                    <p class="subtitle" style="color: rgb(255, 255, 255);">Elige tus datos</p>
                    <div class="box">
                        
                            <div class="field">
                                <div class="control">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                    <input id="nickname" class="input is-large" type="text" style="padding-left:24px;" placeholder="Nombre">
                                </div>
                            </div>

                            <div class="field">
                                <div style="width: 100%;">
                                    <div class="contenedor">
                                            <div class="selectbox">
                                                <div class="selecto" id="templs">
                                                    <div class="contenido-select">
                                                        <h1 class="titulo">Selecciona tu estilo</h1>         
                                                    </div>
                                                </div>  
                                                <div class="opciones" id="opciones">
                                                    <div class="contenido-opcion">
                                                            <a href="#" class="fonts" id="f1"><img src="../../../static/images/fondo0.jpg " alt="fondo de perritos">Bachichas</a>
                                                            <a href="#" class="fonts" id="f2"><img src="../../../static/images/fondo1.jpg" alt="fondo de gatitos">Gatos</a>
                                                            <a href="#" class="fonts" id="f3"><img src="../../../static/images/fondo2.jpg" alt="fondo de pajaros">Tucanes</a> 
                                                            <a href="#" class="fonts" id="f4"><img src="../../../static/images/fondo3.jpg" alt="fondo de capivaras">Capis</a>
                                                            <a href="#" class="fonts" id="f5"><img src="../../../static/images/fondo4.jpg" alt="fondo de nutrias">Nutrias</a>
                                                            <a href="#" class="fonts" id="f6"><img src="../../../static/images/fondo5.jpg" alt="fondo de camaleones">Camas</a> 
                                                    </div>                                                                        
                                                </div>
                                            </div>
                                            <div style="padding:10px; margin:15px 0px 30px 0px; background-color: #0e1013;border-radius: 10px;">
                                                <div id="dificultad">
                                                <label for="d1">Facil</label>
                                                <label for="d2">Medio</label>
                                                <label for="d3">Avanzado</label>
                                                <input type="radio" style="height: 20px;" name="dificultad1" id="d1" required>
                                                <input type="radio" style="height: 20px;" name="dificultad2" id="d2" required>
                                                <input type="radio" style="height: 20px;" name="dificultad3" id="d3" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <button id="playbtn" class="button is-block is-large is-fullwidth" style="background-color: #ffd500; color:#0e1013; font-weight:bold;">Jugar <i class="fa fa-gamepad" aria-hidden="true"></i></button>
                    </div>
                    <p id="pie" style="color: aliceblue;">
                        &nbsp;·&nbsp;<a href="https://github.com/sebasquez123" target="_blank" style="color: aliceblue;">By sebastian vasqz</a> &nbsp;·&nbsp;
                        <button type="button" data-bs-toggle="modal" data-bs-target="#ranking">Mira tu ranking</button>
                    </p>
                </div>
            </div>
        </div>
    </section>

  
  <!-- Modal -->
  <div class="modal fade" id="ranking" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Last Team</h5>
          <i class="fa fa-trophy" style="color: rgb(17, 0, 255); font-size:30px;"></i>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
          <p class="itemp">Nombre</p>
          <p class="itemp">Dificultad</p>
          <p class="itemf">Tiempo</p>
        </div>
        <div class="tables">
            <table id="tabladeranking">
                <thead>
                </thead>
                <tbody>
            
                    {% if gamers %}
                    {% for gamer in gamers %}
                    {% if forloop.first %}
                  <tr class="trhover  inicial shadow-inicial" style="display: flex; flex-direction:row; justify-content:center; ">
                    <td class="itemp">{{gamer.nickname.username}}</td>
                    <td class="itemp">{{gamer.dificult}}</td>
                    <td class="itemp">{{gamer.total_segundos}} s</td>
                  </tr>
                  {% endif %}
                  {% if not forloop.first and not forloop.last %}
                  <tr class="trhover" style="display: flex; flex-direction:row; justify-content:center; ">     
                    <td class="itemp">{{gamer.nickname.username}}</td>
                    <td class="itemp">{{gamer.dificult}}</td>
                    <td class="itemp">{{gamer.total_segundos}} s</td>                  
                  </tr>
                  {% endif %}
                  {% if forloop.last %}
                  <tr class="trhover shadow-final final " style="display:flex; flex-direction:row;justify-content:center;">
                    <td class="itemp">{{gamer.nickname.username}}</td>
                    <td class="itemp">{{gamer.dificult}}</td>
                    <td class="itemp">{{gamer.total_segundos}} s</td>
                  </tr> 
                  {% endif %}
                    {% endfor %}
                    {% endif %}
                </tbody>
              </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="button is-block is-large" data-bs-dismiss="modal">Seguir</button>
        </div>
      </div>
    </div>
  </div>

  <article id="warning" class="message is-warning hiddenn">
    <div class="message-header">
      <p>Ups...</p>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      <p id="advertencia"></p>
    </div>
  </article>




<div class="modal fade modalegamemode" id="Gamemode" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Game Mode</h5>
        </div>
        <div class="modalbody" style="padding:30px; display:flex; justify-content:center; align-items:center;flex-direction:column; font-size:30px;">
          <p>Como quieres jugar?</p>
          <img style="width:300px;" src="{% static 'images/gamemode.gif'%}" alt="imagen dinamica de un control de consola"></img>
        </div>
        <div style="justify-content:space-around;display:flex;flex-direction:row;width:100%;">
          <button id="alonegame" type="button" class="button is-block is-large" data-bs-dismiss="modalegamemode" style="width:100%;">Solo</button>
          <button type="button" class="button is-block is-large" data-bs-dismiss="modalegamemode" data-bs-toggle="modal"style="width:100%;" data-bs-target="#Codes">Online</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade codes" id="Codes" data-bs-backdrop="none" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Online Game</h5>
        </div>
        <div class="modalbody" style="padding:30px; display:flex; justify-content:center; align-items:center;flex-direction:column; font-size:20px;">
          <p>Ingresa un codigo de hosting:</p>
          <br>
          <input id="Areacode" class="input is-large" type="number" style="text-align:center;" placeholder="Codigo de partida">
        </div>
        <div  style="justify-content:space-around;display:flex;flex-direction:row;width:100%;">
          <button id="hotingbtn" type="button" class="button is-block is-large" data-bs-dismiss="Codes" style="width:100%;" data-bs-toggle="modal" data-bs-target="#hostingcode">Hostear</button>
          <button id="searchpartybtn" type="button" class="button is-block is-large" style="width:100%;" data-bs-dismiss="Codes">Buscar partida</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="hostingcode" data-bs-backdrop="none" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Online Game</h5>
        </div>
        <div class="modalbody" style="padding:30px; display:flex; justify-content:center; align-items:center;flex-direction:column; font-size:20px;">
          <span>GENERATING CODES</span><hr>
          <div id="textloader" class="textloader">Loading...</div>
          <p id="sessioncode"></p>
          <hr>
        </div>
        <div style="justify-content:space-around;display:flex;flex-direction:row;width:100%;">
          <button id="initparty" type="button" class="button is-block is-large" style="width:100%;">Iniciar</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/formularioinicial.js'%}"></script>
  <script src="{% static 'js/envioformulario.js'%}"></script>

  <script>
    var codigolocal = 0;
    var codigodelhoster = 0;
    gamemode.style.display = 'none';
    

    alonegame.addEventListener('click', () => {

        codigolocal = 0;
        codigodelhoster = 0;
        enviarDatos();
        
    });

    
    hotingbtn.addEventListener('click', function(event){
    codigolocal = Math.floor(Math.random() * 1000000);
    setTimeout(() => {
      textloader.style.display = 'none';
      sessioncode.innerHTML = codigolocal;
    }, 4000);
    if(!hostingcode.contains(event.target)){
      textloader.style.display = 'block';
      sessioncode.innerHTML = '';
    }
    });

    


    searchpartybtn.addEventListener('click', () => {
        if(Areacode.value){
            if(Areacode.value == codigodelhoster){
              codigolocal = 0;
              enviarDatos();
            }
            else{
                warning.classList.add('active');
                advertencia.innerHTML = 'Codigo incorrecto...';
            }
            
        }else{
            warning.classList.add('active');
            advertencia.innerHTML = 'Ingresa un codigo para continuar...';
        }
    });
  
    initparty.addEventListener('click', () => {
      codigodelhoster = 0;
         enviarDatos();
         
    });
  </script>
</body>
</html>
