body,html{
    overflow-y: auto; 
    scrollbar-width: none;
    height: 100%;
    background-size: 20%;
}
main{
    height: 100%; display:flex; justify-content:center; margin-top:5%; 
}
#contenedorprincipal > div{
    height: 100%; width:100%;
}
#contenedorprincipal > div > div{
    width: 100%; display:flex; flex-direction:row; justify-content:center;
}
footer{
    background-color: #110f23;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
nav{
    background-color: #110f23;
    height:60px;
}
.subnav1{
    width:100%; display:flex; flex-direction:row; justify-content:space-around; color:white;
}
#salir{
    color: white;
    text-decoration: none;
}
#salir:hover{
    color: #b7ff00;
}
#cuerpojuego img{
    width: 50px;
    height: 50px;
}
#logos{
    th{
    background-color: transparent;
    }
}
#cuerpojuego  {

    border-collapse:separate; margin-bottom:10px;
    thead{
    text-align:center;
    }
    th{
    border-radius: 10px;
    border:0px;
    }
    td{
    border-radius: 10px;
    border:0px;
    }
    tbody{
        text-align:center;
    }
}
#cabecera{
    color:#110f23;
}
#stop{
    color:#110f23;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    font-weight:bold;
}
#stop:hover{
    color:#00ff11;
}
#stop.active{
    color: #ffffff;
}
#stop.active:hover{
    color: #ff0000;
}
.celdas td {background-color: #110f23;
    color: #fafafa;
    transition: all 2s ease;}
.celdas td.active  {
    background-color: #ffffff;
    color: #000000;
    transition: all 2s ease;
}
#contenedorprincipal{
    height: 80%; width:90%; border: 2px solid #f3f2f2; padding:50px; border-radius: 30px; background-color:#ffffff; box-shadow: 0px 0px 10px #00000080;
    transition: all 2s ease;
}
#contenedorprincipal.active{
    background-color: #0a0915;
    border: 5px solid #0a0915;
    transition: all 2s ease;
    
}
#tiempo{
    margin: 0px 290px 0px 330px;
}


/* modal de inicio del juego */

.introp {
    margin-top:30px;
}

.dificultad_modal_seccion, .tiempo_modal_seccion, .puntos_modal_seccion{
    display:flex; flex-direction:column; align-items:center;
    img{
        width:170px; border-radius:10px;box-shadow:0px 0px 10px #989898;
    }
}



#dificult_board, #time_board, #score_board{
    font-size: 30px;
    font-family:"Segoe UI";
    font-weight: bold;
    background: linear-gradient(to right, #009dff, #9000ff);
    -webkit-background-clip: text; /* Para Safari y Chrome */
    background-clip: text;
    color: transparent; /* Oculta el texto original */
}
.versus{
    width:50px;
}
.ganaste_modal_seccion{
    width:100%;
    ul{
        display:flex; flex-direction:row; justify-content:space-around; width:100%; font-size:20px; list-style-type:none;
    }
}

.ganaste_modal_seccion2{

        display:flex; flex-direction:column;  width:100%; font-size:30px; 
        align-items: center;
        img{
            width: 500px;
        }
}
.modal{
    max-height: 100% !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    scrollbar-width: none !important;
   }
   .modal-dialog{
       max-width: 80%;

   }
   .inf-body{
       position: relative;
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: auto;
       padding: 0px 25px 20px 25px;
       font-size: medium;
       gap: 0px;
       align-items: center;
       justify-items:center;
       overflow-x: auto !important;
       scrollbar-width: none !important;
   }
   .contenido-inf{
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: repeat(3, .5fr);
       gap: 10px;
       align-items: center;
       justify-items:center;
       border-collapse: collapse;
   }
   .contenido-inf2{
    display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: repeat(2, .5fr);
       gap: 10px;
       align-items: center;
       justify-items:center;
       border-collapse: collapse;
   }
   .steps{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: 1fr;
       gap: 1px;
       justify-content: space-around;
       width:100%;
   }
   .steps2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 90px;
    justify-content: space-around;
    width:100%;
}
.box {
    position: relative;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px; 
    padding: 2px; 
    /* background: linear-gradient(45deg, var(--color1), var(--color2)); */
    background: linear-gradient(45deg, #ff7b00, #ffea00);
    -webkit-mask: linear-gradient(#ffffff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude; 
    transition: background 1s ease; /* Transición suave para el cambio de color */
}