body,html{
    overflow-y: auto; 
    scrollbar-width: none;
    height: 100%;
    background-size: 20%;
    
}
main{
    height: 100%; display:flex; justify-content:center; margin-top:10%;  
}
#contenedorprincipal {
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-width: none;
}
#contenedorprincipal > div{

    height: 100%; width:100%;
}
#contenedorprincipal > div > div{
    width: 100%; display:flex; flex-direction:row; justify-content:center;
    height: 30%;
}
footer{
    background-color: hsl( 221 , 14% , 9% );
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-family:monospace !important;
}
nav{
    position:absolute; width:100%;
    background-color: hsl( 221 , 14% , 9% );
    height:60px;
    z-index: 1000;
    font-family:monospace !important;
}
.subnav1{
    width:100%; display:flex; flex-direction:row; justify-content:space-around; color:white;
}
#salir{
    color: white;
    text-decoration: none;
}
#salir:hover{
    color: #b7ff00;
}
#cuerpojuego img{
    width: 65px;
    height: 65px;
}
#logos{
    th{
    background-color: transparent;
    width: 10%;
    height: 25px;
    }

}
#cuerpojuego  {
font-family:monospace !important;
    border-collapse:separate;
    margin-bottom:50px;
    width: 100%;
    height: auto;
    
    thead{
    text-align:center;
    }
    th{
    border-radius: 10px;
    border:0px;
    }
    td{
    border-radius: 10px;
    border:0px;
    }
    tbody{
        text-align:center;
    }
}
#cabecera{
    color:#110f23;
    height: 10px;
}


.celdas input{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    text-align: center;
    
    font-weight: bold;
    outline: none;
    border:none;
    caret-color: #111111;
    background-color: transparent;
    background-image: linear-gradient(to right, #002aff, #ae00ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
  }
.random_num{
    
    color: #6f00ff;
    font-weight: bold;
    text-shadow: #0033ff 0px 0px 10px ;
    font-size: 20px;
    
}

.celdas td {
    background-color: #ffffff;
    transition: all 2s ease;
    height: 10px;
}


#fila1 td.wrong , #fila2 td.wrong , #fila3 td.wrong{
    box-shadow: 0px 0px 5px 1px #ff0000;
    transition: all 3s ease;
}

#fila1 td.correct , #fila2 td.correct , #fila3 td.correct{
    box-shadow: 0px 0px 5px 1px #73ff00;
    transition: all 3s ease;
}
#fila1 td.locked{
    background-color: #797979;
}
#fila2 td.locked{
    background-color: #797979;
}
#fila3 td.locked{
    background-color: #797979;
}
#contenedorprincipal{
    height: 80%; width:90%; border: 2px solid #f3f2f2; padding:50px; border-radius: 30px; background-color:#e2e2e2; box-shadow: 0px 0px 10px 10px #00000080;
    transition: all 2s ease;
}
#contenedorprincipal.active{
    background-color: #9fa2ff9c;
    border: 1px solid #6253ff00;
    transition: all 2s ease;
    
}
.puntaje{
    color: #6f00ff;
    font-weight: bold;
    text-shadow: #0033ff 0px 0px 10px ;
    font-size: 15px;
}
#tiempo{
    margin: 0px 290px 0px 330px;
}


/* modal de inicio del juego */

.introp {
    margin-top:30px;
}

.dificultad_modal_seccion, .tiempo_modal_seccion, .puntos_modal_seccion{
    display:flex; flex-direction:column; align-items:center;
    img{
        width:170px; border-radius:10px;box-shadow:0px 0px 10px #989898;
    }
}



#dificult_board, #time_board, #score_board{
    font-size: 30px;
    font-family:"Segoe UI";
    font-weight: bold;
    background: linear-gradient(to right, #009dff, #9000ff);
    -webkit-background-clip: text; /* Para Safari y Chrome */
    background-clip: text;
    color: transparent; /* Oculta el texto original */
}
.versus{
    width:50px;
}
.ganaste_modal_seccion{
    width:100%;
    ul{
        display:flex; flex-direction:row; justify-content:space-around; width:100%; font-size:20px; list-style-type:none;
    }
}

.ganaste_modal_seccion2{

        display:flex; flex-direction:column;  width:100%; font-size:30px; 
        align-items: center;
        img{
            width: 500px;
        }
}

.modal{
    max-height: 100% !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    scrollbar-width: none !important;
   }
   .modal-dialog{
       max-width: 80%;

   }
   .inf-body{
       position: relative;
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: auto;
       padding: 0px 25px 20px 25px;
       font-size: medium;
       gap: 0px;
       align-items: center;
       justify-items:center;
       overflow-x: auto !important;
       scrollbar-width: none !important;
   }
   .contenido-inf{
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: repeat(3, .5fr);
       gap: 10px;
       align-items: center;
       justify-items:center;
       border-collapse: collapse;
   }
   .contenido-inf2{
        display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: repeat(2, .5fr);
       gap: 10px;
       align-items: center;
       justify-items:center;
       border-collapse: collapse;
       height: 650px;
   }
   .steps{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: 1fr;
       gap: 1px;
       justify-content: space-around;
       width:100%;
   }
   .steps2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 90px;
    justify-content: space-around;
    width:100%;
}
.box {
    position: relative;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px; 
    padding: 2px; 
    /* background: linear-gradient(45deg, var(--color1), var(--color2)); */
    background: linear-gradient(45deg, #ff7b00, #ffea00);
    -webkit-mask: linear-gradient(#ffffff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude; 
    transition: background 1s ease; /* Transición suave para el cambio de color */
}

/* el modal final */
.encabezado {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding: 25px 25px 0px 25px;
  font-size: medium;
  gap: 0px;
  align-items: center;
  justify-items:center;
  border-collapse: collapse;
  font-size: 20px;
  width: 100%;

}
.itemp{
  
  border-bottom: 2px solid #0000001d;
  display: flex;
  justify-content: center;
  width: 150px;
  flex-shrink: 1;
  font-size: 25px;
  color:#ffffff;
}
.itemf{
  border-bottom: 2px solid #0000001d;
  display: flex;
  justify-content: center;
  width: 150px; 
  flex-shrink: 1;
  font-size: 25px;
  color:#ffffff;
}
.final{
  margin-bottom: 5%;
}
.borde-final{border-bottom: none !important;}

.inicial{
  margin-top: 5%;
}
.shadow-inicial{
  box-shadow: 0px -5px 5px -5px #ffc80084;
}
.shadow-final{
  box-shadow: 0px 5px 5px -5px #ffc80084;
}

.tables{
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  width: 100%;
  margin-top: -50px;
}
#tabladeranking{width: 100%;}
.trhover{
  background-color: #1d1d1d;
  border-radius: 10px;
  display: flex; flex-direction:row; justify-content:space-around;
}

.trhover:hover{
  background-color: #00000042;
}